# DS-SF-30 | Homework 02: The `pandas` Library

In this homework, we will be exploring the `Ozone` dataset using `pandas`.

> ## Question 1.  Import `pandas` (as `pd`).

In [23]:
import pandas as pd

pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [24]:
df = pd.read_csv(filepath_or_buffer='../data/dataset-02-ozone.csv')

> ## Question 2.  Display a few lines of the dataset to the screen.

In [25]:
df.sample(n=10)

     Ozone  Solar.R  Wind  Temp  Month  Day
110   31.0    244.0  10.9    78      8   19
45     NaN    322.0  11.5    79      6   15
132   24.0    259.0   9.7    73      9   10
140   13.0     27.0  10.3    76      9   18
91    59.0    254.0   9.2    81      7   31
111   44.0    190.0  10.3    78      8   20
26     NaN      NaN   8.0    57      5   27
96    35.0      NaN   7.4    85      8    5
90    64.0    253.0   7.4    83      7   30
93     9.0     24.0  13.8    81      8    2

> ## Question 3.  How many samples (i.e., rows) are in this dataset?

In [26]:
df.shape

(153, 6)

> ## Question 4.  Print the name of each column in the dataset, one name per line.

In [27]:
df.columns.values

array(['Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day'], dtype=object)

> ## Question 5.  How many variables (i.e., columns) are in this dataset?

In [28]:
df.shape

(153, 6)

> ## Question 6.  Extract the first 2 rows of the dataset and print them to the console.  What does the output look like?

In [37]:
df[1:3]

   Ozone  Solar.R  Wind  Temp  Month  Day
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3

> ## Question 7.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [32]:
df[-2:]

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

> ## Question 8.  What is the value of Ozone in the 47th row?

In [39]:
df[47:48]

    Ozone  Solar.R  Wind  Temp  Month  Day
47   37.0    284.0  20.7    72      6   17

> ## Question 9.  How many missing values are in the `Ozone` column of this dataset?

In [44]:
df.isnull().sum()

Ozone      37
Solar.R     7
Wind        0
Temp        0
Month       0
Day         0
dtype: int64

> ## Question 10.  What is the mean of the `Ozone` column in this dataset?  Exclude missing values (coded as `NaN`) from this calculation.

In [53]:
df.mean(axis=None, skipna=True, level=None, numeric_only=None)

Ozone       42.099099
Solar.R    184.801802
Wind         9.939640
Temp        77.792793
Month        7.216216
Day         15.945946
dtype: float64

> ## Question 11.  Extract the subset of rows of the dataset where `Ozone` values are above 31 and `Temp` values are above 90.

In [56]:
df[(df.Temp>90) &(df.Ozone>31)]

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
119   76.0    203.0   9.7    97      8   28
120  118.0    225.0   2.3    94      8   29
121   84.0    237.0   6.3    96      8   30
122   85.0    188.0   6.3    94      8   31
123   96.0    167.0   6.9    91      9    1
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4

> ## Question 12.  What is the mean of `Solar.R` in this subset?

In [ ]:
df["Solar.R"][(df.Temp>90) &(df.Ozone>31)].mean()

> ## Question 13.  What is the mean of `Temp` when `Month` is equal to 6?

In [55]:
df.Temp[df.Month==6].mean()

78.22222222222223

> ## Question 14.  What was `Ozone`'s maximum in the month of May?

In [57]:
df.Ozone[df.Month==5].max()

115.0